.body {
  background-color: #000;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}

.masterdiv {
  margin-right: 5vw;
  margin-left: 5vw;
}

.blackbar {
  height: 8px;
  background-color: #fff;
}

.blinking-cursor {
  font-family: Apercu, sans-serif;
  font-weight: 100;
  font-size: .9em;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

.bottomnav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12vh;
  margin-bottom: 6vh;
  padding-top: 1vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-top: 3px none #000;
}

.leftnav {
  position: static;
  left: auto;
  top: 2%;
  right: auto;
  bottom: 50%;
  display: inline-block;
  padding-top: 2px;
  padding-right: 4px;
  padding-left: 4px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Apercu, sans-serif;
  color: #fff;
  font-size: 1.2em;
  line-height: 1em;
  text-align: right;
  text-decoration: none;
}

.leftnav:hover {
  background-color: #fff;
  color: #000;
}

.rightnav {
  position: static;
  left: auto;
  top: 2%;
  right: auto;
  bottom: 50%;
  display: inline-block;
  padding-top: 2px;
  padding-right: 4px;
  padding-left: 4px;
  float: right;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Apercu, sans-serif;
  color: #fff;
  font-size: 1.2em;
  line-height: 1em;
  text-align: left;
  text-decoration: none;
}

.rightnav:hover {
  background-color: #fff;
  color: #000;
}

/* top nav hover behavior */
.rightnav:hover::before{
  content:"✱";
  position:absolute;
  margin-left:-20px;
  color:white;
}
.centernav:hover::before{
  content:"✱";
  position:absolute;
  margin-left:-20px;
  color:white;
}.leftnav:hover::before{
  content:"✱";
  position:absolute;
  margin-left:-20px;
  color:white;
}
/* top nav hover behavior end*/


.centernav {
  position: static;
  left: auto;
  top: 0%;
  right: auto;
  bottom: auto;
  display: inline-block;
  padding-top: 2px;
  padding-right: 4px;
  padding-left: 4px;
  float: right;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Apercu, sans-serif;
  color: #fff;
  font-size: 1.2em;
  line-height: 1em;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.centernav:hover {
  background-color: #fff;
  color: #000;
}

.desc {
  width: 85vw;
  margin-top: 8vh;
  font-family: 'Bluu next', sans-serif;
  color: #fff;
  font-size: 6vw;
  line-height: 1.1em;
}

.worktitle {
  width: 71px;
  margin-top: 10vh;
  padding-left: 5px;
  background-color: #000;
  font-family: Apercu, sans-serif;
  color: #fff;
  font-size: 1.4em;
  line-height: 1.4em;
}

.allwork {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8vh;
  margin-bottom: 8vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.work-h1 {
  margin-bottom: 10px;
  margin-left: 35px;
  padding-right: 12px;
  padding-bottom: 12px;
  border-bottom: 2px none #fff;
  border-radius: 0px;
  font-family: 'Bluu next', sans-serif;
  color: #fff;
  font-size: 3em;
  line-height: 0.4em;
  font-style: italic;
  font-weight: 700;
}

.groups {
  width: 30vw;
  padding-top: 20px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  border: 1px solid #000;
  background-color: #000;
  box-shadow: 5px 5px 0 -1px #000;
}

.work-h2 {
  padding-top: 20px;
  padding-bottom: 12px;
  border-bottom: 2px none #000;
  border-radius: 0px;
  font-family: Apercu, sans-serif;
  color: #fff;
  font-size: 2em;
  line-height: 1em;
}

.work-h3 {
  padding-bottom: 20px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #fff;
  font-family: Apercu, sans-serif;
  color: #fff;
  font-size: 1.3em;
  line-height: 1.7em;
  text-align: left;
}

.work-h3:hover {
  color: #fff;
}

.h2andarrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #000;
  text-decoration: none;
}

.topnav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6vh;
  margin-bottom: 6vh;
  padding-top: 1vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-top: 3px none #000;
}

.image {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

._1work {
  width: 30vw;
  border-style: solid solid none;
  border-width: 1px;
  border-color: #000 #000 #fff;
  text-decoration: none;
}

._1work:hover {
  background-color: #000;
  color: #333;
}

.cc {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  font-family: Apercu, sans-serif;
  color: #fff;
  font-size: 1em;
  line-height: 1em;
}

.divider {
  position: static;
  width: 20px;
  height: 20px;
  margin-right: auto;
  margin-left: auto;
  float: left;
  clear: none;
  background-color: #fff;
}

.work-h3-bottom {
  padding-bottom: 20px;
  border: 1px none #000;
  font-family: Apercu, sans-serif;
  color: #fff;
  font-size: 1.3em;
  line-height: 1.7em;
  text-align: left;
}

.about {
  width: 50vw;
  margin-top: 8vh;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Bluu next', sans-serif;
  color: #fff;
  font-size: 3vw;
  line-height: 1.1em;
}

.aboutbody {
  width: 50vw;
  margin-top: 8vh;
  margin-right: auto;
  margin-left: auto;
  font-family: Apercu, sans-serif;
  color: #fff;
  font-size: 2vw;
  line-height: 1.3em;
}

.facelift {
  width: 50vw;
  margin-top: 8vh;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Bluu next', sans-serif;
  color: #fff;
  font-size: 2em;
  line-height: 1.3em;
  text-align: center;
}

.contact {
  width: 50vw;
  margin-top: 8vh;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Bluu next', sans-serif;
  color: #fff;
  font-size: 4vw;
  line-height: 1.4em;
  font-style: normal;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .masterdiv {
    margin-right: 5vw;
    margin-left: 5vw;
  }
  .groups {
    width: 36vw;
  }
  ._1work {
    width: 36vw;
  }
  .about {
    width: 70vw;
  }
  .aboutbody {
    width: 70vw;
  }
  .contact {
    font-size: 2.4em;
  }
}

@media screen and (max-width: 767px) {
  .leftnav {
    font-size: 0.8em;
  }
  .rightnav {
    font-size: 0.9em;
  }
  .centernav {
    font-size: 0.8em;
  }
  .desc {
    font-size: 4.1em;
  }
  .worktitle {
    width: 65px;
    font-size: 1.2em;
  }
  .work-h1 {
    font-size: 3em;
  }
  .groups {
    width: 50vw;
    padding-top: 14px;
  }
  .work-h2 {
    padding-top: 14px;
    font-size: 2em;
  }
  .work-h3 {
    font-size: 1.3em;
  }
  ._1work {
    width: 50vw;
  }
  .cc {
    font-size: 0.8em;
  }
  .work-h3-bottom {
    font-size: 1.3em;
  }
  .about {
    font-size: 2em;
  }
  .aboutbody {
    font-size: 1.5em;
  }
  .contact {
    font-size: 3em;
  }
}

@media screen and (max-width: 479px) {
  .leftnav {
    font-size: 0.9em;
  }
  .rightnav {
    font-size: 0.9em;
  }
  .centernav {
    font-size: 0.9em;
  }
  .desc {
    margin-top: 5vh;
    font-size: 2.7em;
    line-height: 1.2em;
  }
  .worktitle {
    margin-top: 6vh;
  }
  .allwork {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .groups {
    display: block;
    width: 90vw;
    margin-bottom: 5vh;
  }
  .work-h2 {
    font-size: 1.5em;
  }
  .work-h3 {
    font-size: 1.1em;
  }
  ._1work {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .work-h3-bottom {
    font-size: 1em;
  }
  .about {
    margin-top: 5vh;
    font-size: 2em;
    line-height: 1.2em;
  }
  .aboutbody {
    margin-top: 5vh;
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .contact {
    margin-top: 5vh;
    margin-left: 0px;
    font-size: 2.7em;
    line-height: 1.2em;
  }
}

@font-face {
  font-family: 'Bluu next';
  src: url('../fonts/bluunext-titling.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bluu next';
  src: url('../fonts/bluunext-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Bluu next';
  src: url('../fonts/bluunext-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
