.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.outer{
  display:table;
  /* position:absolute; */
  top:0;
  left:0;
  height:100vh;
  /* width:98vw; */
}
.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  /* margin-left: 7vw;
  margin-right: 7vw; */
  width: auto;
}


.navigation{
  position:absolute;
  top:0;
  right:0;
  margin-top:7vh;
  /* margin-left: 7vw; */
  margin-right: 7vw;
  /* width:60px; */
  /* display:inline-block; */
  display:inline;
}
.navigationlink{
  color: white;
  font-weight:700;
  font-size: 1.4em;
  text-align:right;
  padding-bottom:10px;
  padding-left:10px;
}

.navigationlink:after{
  content:"_";
  display:inline-flex;
  font-weight:100;
  font-size: 1.3em;
  opacity:0;
  /* background-color:#C6FF00;
  height:8px;
  width:8px;
  border-radius: 50%;
  opacity:0;
  margin-left:8px; */
}

.navigationlink:hover:after{
  opacity:100;
}
.navigationlink:active:after{
  opacity:100;
}

/* MY CODE */

.coolgallery {
  position: relative;
  max-width: 100vw;
  margin-top:10vh;
}

.coolgalleryscroll {
  scroll-snap-type: x mandatory;
   overflow-x: scroll;
   overflow-y: hidden;
   display: flex;
   align-items: center;
   height: 500px;
   -webkit-overflow-scrolling: touch;
}
.coolgalleryscroll img{
  scroll-snap-align: start;
}

.galleryimg{
  min-width: 50%;
  /* min-height: 95%; */
    padding-right:8vw;
}

.box {
  position: sticky;
  top: 0vh;
  bottom: auto;
  width: 100%;
  height: 10vh;
  background-color: #121212;
  z-index:1;
  margin-top:70vh;
}

.name{
  font-family: 'Eina 01', sans-serif;
  font-size: 2em;
  /* font-size:9em; */
  font-weight: 700;
  /* margin-top:70vh;
  position: -webkit-sticky;
  position: sticky; */
  padding-top:40vh;
}

.newintro{
  font-family: 'IBM Plex Mono';
  font-size: 1em;
  font-style:italic;
  /* font-size:9em; */
  font-weight: 400;
  line-height: 4em;
  position: relative;
}

.blinking-cursor {
  font-family: 'Eina 01', sans-serif;
  font-weight: 100;
  font-size: .7em;
  color: #fff;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

.sectiontitle{
  font-family: 'Eina 01', sans-serif;
  color:white;
  font-weight: 700;
  font-size: .8em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: .9em;
  margin-bottom:4vh;
}

.dash {
    height: 0;
    width: 3rem;
    display: inline-block;
    vertical-align: middle;
    border-top: -.9rem solid;
    top: -.1rem;
    position: relative;
  }

.allwork{
  margin-top:15vh;
  position:relative;
  height:100vh;
  margin-bottom:50px;
}

.work{
  background-color: #121212;
  border: 1.5px solid #fff;
  height: 40vh;
  width: 30vw;
  position:absolute;
}
/* .work:hover{
  top:8px;
  left:8px;
} */

.workbg{
  top:8px;
  left:8px;
  height:60vh;
  width: 30vw;
  background-color: white;
  z-index:-1;
  position:absolute;
}

.worktitle{
  position:relative;
  top: 42vh;
  left:20px;
  width:27vw;
  color: #121212;
  font-family: 'Eina 01', sans-serif;
  font-weight:600;
  font-size:1.5em;
}

.workdesc{
  position:relative;
  top: 43vh;
  left:20px;
  width:27vw;
  color: #121212;
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight:400;
  font-size:.9em;
}
.arrowbox{
  position: relative;
  display: inline-block;
  width:27vw;
  height:auto;
}

.arrow {
  position: relative;
  display: inline-block;
  padding: 10px 0 10px;


}
  .arrow:before {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background-color: #121212;
    top: 50%;
    transition: width 0.5s ease-out;
  }
  .arrow:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #121212;
    border-right: 1px solid #121212;
    transform: rotate(45deg);
    top: calc(50% - 5px);
    position: absolute;
    right: 1px;

  }
  .arrow:hover {
    cursor: pointer;
  }

    .arrow:hover:before{
      width: 30px;
    }



/* not my code LMAO */

a {
   /* font-family: 'Eina 01', sans-serif; */
  color: #7C4DFF;
  /* font-size: 1em;
  font-weight: 400; */
  text-decoration: none;
}

.body {
  overflow: visible;
  background-color: #000;
  padding: 7vh 7vw;

}

.myname {
  font-family: Raisonne, sans-serif;
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  position:fixed;
}

.nav {
  font-family: Raisonne, sans-serif;
  color: #fff;
  font-size: 2em;
  line-height: 0.7em;
  text-align: right;
  text-decoration: none;
  margin-left:2vw;
}

.nav.active{
  color: #fff;
}

.navs {
  float: right;
}

.paragraph {
  font-family: Raisonne, sans-serif;
  color: #fff;
  font-size: 2em;
  line-height: 20px;
  position:fixed;

}

.social {
  position:fixed;
  left: 7vw;
  top: auto;
  right: 7vw;
  bottom: 7vh;
  margin-bottom: 0px;
  float: none;
  clear: none;
  font-family: Raisonne, sans-serif;
  color: #fff;
  font-size: 2em;
}

.mydesc {
  position: static;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  margin-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Raisonne, sans-serif;
  color: #fff;
  font-size: 5.6em;
  line-height: 1.2em;
}

.mydescbox {
  position: fixed;
  left: 7vw;
  top: 15vh;
  right: auto;
  bottom: 15vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 86vw;
  padding-right: 20vw;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.myaboutbox{
  position: fixed;
  top: 15vh;
  bottom: 15vh;
  width:86vw;
  height:65vh;
  overflow:auto;
  padding:5px;
}
.myabout{
  font-family: Raisonne, sans-serif;
  color: #fff;
  font-size: 2em;
  line-height: 1em;
  }

  .aboutimg{
    height:400px;

  }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  background: #000;
  border: 2px white solid;
  font-family:Raisonne;
  color:white;
  transition: all 5s ease-in-out;
  overflow:auto;
  position: fixed;
  top: 15vh;
  bottom: 15vh;
  width:86vw;
  margin: 7vw;
  overflow:auto;
  padding:5px;

}

.popup .close {
  position: fixed;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 2em;
  text-decoration: none;
  color: #fff;
}
.popup .close:hover {
  color: purple;
}
.popup .content {
  /* max-height: 30%; */
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

@media (max-width: 991px) {
  .mydescbox {
    width: 86vw;
  }
}

@media (max-width: 767px) {
  .myname {
    font-size: 1.6em;
  }
  .nav {
    font-size: 1.6em;
  }
  .social {
    font-size: 1.6em;
  }
  .mydescbox {
    width: 86vw;
    padding-right: 9vw;
  }
}

@media (max-width: 479px) {
  .myname {
    font-size: 1.6em;
  }
  .nav {
    font-size: 1.6em;
  }
  .social {
    font-size: 1.6em;
  }
  .mydesc {
    font-size: 3.6em;
  }
  .mydescbox {
    padding-right: 0vw;
  }
}

@font-face {
  font-family: 'Raisonne';
  src: url('../fonts/Raisonne.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

.desc {
  display: inline-block;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  font-family: 'Eina 01', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 29px;
}

.subtitle {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 12px;
  font-weight: 400;
}

.heading {
  position: fixed;
  left: 42px;
  width: 38vw;
  margin: 277px auto 1px;
  font-family: 'Eina 01', sans-serif;
  color: #fff;
  font-size: 3vw;
  line-height: 46px;
  font-weight: 500;
}

.linskksksk {
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 120px;
  font-family: 'Eina 01', sans-serif;
  font-size: 12px;
}

.linskksksk._2 {
  display: inline;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 60px;
}

.linskksksk.activee {
  position: fixed;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: overline;
}

.holds-links {
  margin-top: 0px;
  color: #fff;
  font-size: 14px;
}

.holds-links:hover {
  border-style: none none solid;
  border-width: 1px 1px 0px;
  border-color: #000;
  border-radius: 0px;
  color: #fff;
  font-style: italic;
  text-decoration: none;
}

.holds-links.active {
  text-decoration: overline;
}

.holds-links.active.w--current {
  color: #7f69ff;
  text-align: right;
}

.cactus {
  margin-top: 25px;
  margin-bottom: 0px;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  font-size: 5.6vw;
  text-align: right;
}

.about {
  font-family: 'Eina 01', sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 21px;
}

.grid-3a {
  margin-top: 0px;
  margin-right: 200px;
  margin-left: 200px;
  padding-top: 149px;
  grid-column-gap: 10px;
  grid-row-gap: 24px;
  grid-template-areas: ".";
  -ms-grid-columns: 5.5vw 10px 2fr;
  grid-template-columns: 5.5vw 2fr;
  -ms-grid-rows: minmax(auto, 0.25fr) 24px minmax(auto, 0.5fr) 24px minmax(auto, 0.25fr);
  grid-template-rows: minmax(auto, 0.25fr) minmax(auto, 0.5fr) minmax(auto, 0.25fr);
}

.moreabout {
  margin: 50px 200px 19px;
  font-family: 'Eina 01', sans-serif;
  text-align: left;
}

.aboutlink {
  width: 30%;
  margin-top: -12px;
  margin-right: 0px;
  margin-bottom: 68px;
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #7f69ff;
  font-size: 11px;
  text-align: center;
}

.aboutlink:hover {
  text-decoration: overline;
}

.moreaboutlinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  max-height: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: 'Eina 01', sans-serif;
  font-size: 10px;
  line-height: 25px;
  text-align: right;
}

.link-block-2 {
  position: fixed;
  right: 2%;
  bottom: 3%;
}

.headerimage {
  margin-top: 0px;
  margin-bottom: 30px;
}

.link-block-4 {
  display: block;
  overflow: visible;
  width: 32vw;
  margin-top: 10%;
  margin-right: 0px;
  margin-left: 0px;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.link-block-4:hover {
  overflow: visible;
  border-radius: 5px;
  opacity: 0.46;
}

.homegrid {
  display: inline-block;
  overflow: visible;
  border-radius: 4px;
}

.homegridtext {
  position: static;
  overflow: visible;
  width: 28vw;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  float: none;
  clear: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: 'IBM Plex Mono', sans-serif;
}

/* .paragraph {
  margin-bottom: 25px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 16px;
} */

.homegridtitle {
  color: #fff;
  font-size: 21px;
  line-height: 30px;
  font-weight: 500;
  transition:all .4s ease-in-out;
}

.homegridtitle:hover{
color:#0df;
font-weight: 900;
}

.homegridtitle.snap {
  color: #b767f2;
}

.homegridtitle.df {
  color: #006595;
  font-size: 21px;
  line-height: 30px;
}

.homegridtitle.boop {
  color: #00897b;
}

.homegridtitle.illustration {
  color: #7678f5;
}

.homegridtitle.acai {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #fff;
  font-weight: 500;
}

.homegridtitle.goog {
  color: #00ac48;
}

.homegridtitle.acai {
  color: #fff;
}

.image-9 {
  width: 40vw;
  max-width: 100%;
  margin-bottom: 5vh;
}

.columns {
  margin-top: 131px;
  margin-right: 200px;
  margin-left: 200px;
}

.paragraph-3 {
  margin-right: 200px;
  margin-bottom: -2px;
  margin-left: 200px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 25px;
}

.writeuphead {
  margin-top: 30px;
  margin-right: 200px;
  margin-left: 200px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #bbb;
  font-size: 32px;
  line-height: 35px;
  font-weight: 300;
}

.tabs-2 {
  margin-top: 0px;
  margin-right: 150px;
  margin-left: 150px;
}

.tabbg {
  margin-top: 0px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: transparent;
  text-align: left;
}

.tabbg.w--current {
  background-color: transparent;
  color: #7f69ff;
  text-decoration: underline;
  text-transform: none;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 131px;
  margin-bottom: 20px;
  padding-left: 1vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.back {
  position: fixed;
  left: 2%;
  top: -3%;
  font-size: 16px;
}

.text-block-3 {
  color: #fff;
}

.writeuptitle {
  margin-top: 0px;
  margin-right: 200px;
  margin-left: 200px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 51px;
  font-weight: 500;
  text-align: left;
}

.bold-text {
  color: #b767f2;
  font-weight: 500;
}

.bold-text.sc {
  color: #ff6100;
}

.bold-text.goog {
  color: #00ac47;
}

.bold-text.acaihouse {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #806baf;
}

.div-block {
  position: fixed;
  width: 100%;
  height: 60px;
}

.casestudypix {
  display: block;
  margin: 40px 400px;
}

.casestudypix.small {
  display: block;
  margin-right: 400px;
  margin-left: 400px;
}

.casestudypix.medium {
  display: block;
  margin-right: 400px;
  margin-left: 400px;
}

.image-13 {
  overflow: visible;
  max-width: 100%;
}

.image-14 {
  margin-right: 0px;
  margin-left: 0px;
}

.div-block-2 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  height: 60px;
  background-color: #121212;
}

.hidden {
  margin: 37px 200px 0px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #fff;
}

.hiddentitle {
  margin-top: 93px;
  margin-right: 200px;
  margin-left: 200px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 51px;
  font-weight: 500;
  text-align: left;
}

.p3cap {
  margin-right: 200px;
  margin-bottom: -2px;
  margin-left: 200px;
  padding-top: 0px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #aaa;
  font-size: 12px;
  text-align: center;
}

.gallery {
  margin-top: 93px;
  margin-right: 200px;
  margin-left: 200px;
}

.galleryafter {
  margin-top: 20px;
  margin-right: 200px;
  margin-left: 200px;
}

.galcap {
  margin-top: 6px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #e9e9e9;
  font-size: 12px;
}

.galcon {
  margin-right: 200px;
  margin-left: 200px;
}

.image-15 {
  margin-top: 20px;
}

.gallerylast {
  margin-top: 20px;
  margin-right: 200px;
  margin-left: 200px;
}

.image-16 {
  margin-top: 20px;
}

.body-copy {
  overflow: visible;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #181818;
}

.moreabout-copy {
  margin: 50px 200px 19px;
  font-family: 'Eina 01', sans-serif;
  color: #fff;
  text-align: left;
}

.columns-7 {
  margin-top: 93px;
  margin-right: 200px;
  margin-left: 200px;
}

.text-block-3-copy {
  color: #fff;
}

.div-block-2-copy {
  position: static;
}

.firstrow {
  margin-bottom: 15px;
}

.columns-75 {
  margin-top: 0px;
  margin-right: 200px;
  margin-left: 200px;
}

.left {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 0;
  display: inline;
  overflow: visible;
  width: 40%;
  height: auto;
  min-height: auto;
  margin-top: 0px;
  float: right;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #000;
}

.body-2 {
  overflow: hidden;
  background-color: #fff;
}

.div-block-6 {
  position: fixed;
  height: 17vh;
  margin-top: 141px;
  margin-left: 42px;
}

.text-block-4 {
  color: #fff;
}

.text-block-4:hover {
  font-family: 'Eina 01', sans-serif;
  font-style: italic;
}

.text-block-4a {
  padding-left: 29px;
  color: #fff;
}

.text-block-4a:hover {
  font-style: italic;
}

.nice.w--current {
  color: #7f69ff;
  font-style: normal;
  text-decoration: overline;
}

.leftwrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: block;
  width: 40%;
}

.rightwrapper {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 60%;
}

.div-block-7 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 60%;
}

.body-3 {
  background-color: #121212;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #fff;
}

.title {
  position: absolute;
  left: auto;
  top: 10%;
  right: 0%;
  bottom: auto;
  margin-top: 0px;
  margin-left: 0px;
  float: right;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #fff;
  font-size: 20px;
}

.leftbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  overflow: visible;
  width: 20%;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
}

.leftnav {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding-top: 0px;
  float: none;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #fff;
  text-align: right;
  display:block;
  transition:all .4s ease-in-out;

}

.leftnav:before {
  height: 8px;
  width: 8px;
  background-color: #C6FF00;
  border-radius: 50%;
  content:"";
  display: block;
  opacity: 0;
}


.leftnav.active:before {
  opacity:100;
}

.leftnav:hover{
  color:#0df;
  text-decoration: overline;
  font-weight: 800;




}

.leftnav.bottom {
  margin-bottom: 0px;
}

.allleftnav {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 10%;
  display: block;
  margin-top: 450px;
  margin-bottom: 2vh;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}



.right {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  overflow: scroll;
  width: 80%;
  height: auto;
  padding: 10vh 0vw 10vh 6vw;
  float: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.intro {
  position: absolute;
  left: 0%;
  top: 10%;
  right: auto;
  bottom: 0%;
  width: 13vw;
  margin-top: -0.5vh;
  margin-bottom: 0px;
  margin-left: 6vw;
  font-size: 16px;
  line-height: 32px;
}

.newfoot {
  display: inline;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #0df;
  font-size: 12px;
  text-align: right;
  transition:all .4s ease-in-out;

}


.newfoot:hover {
  text-decoration: overline;
  font-weight: 800;
}

.newfoot.twitter {
  padding-right: 5%;
  padding-left: 5%;
}

.newfootal {
  position: static;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 11.5%;
  width: 40vw;
  margin-top: 15.5vh;
  margin-bottom: 1vh;
  margin-left: 0vw;
  font-size: 12px;
  text-align: left;
}

.paragraph-4 {
  width: 40vw;
  max-width: none;
  margin-top: 0px;
  margin-bottom: 25px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 400;
}

.homegrid-2 {
  overflow: hidden;
  max-width: 90%;
  border-radius: 4px;
}

.column-3 {
  padding-bottom: 25px;
}

.columns-3 {
  margin-top: 10%;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.subtitle-2 {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #c4c4c4;
  font-size: 12px;
  font-weight: 400;
}

.homegridtext-2 {
  overflow: hidden;
  max-width: 40vw;
  margin-top: 7px;
}

.link-block-5 {
  overflow: hidden;
  margin-top: 0px;
}

.link-block-5:hover {
  overflow: visible;
  border-radius: 5px;
  opacity: 0.46;
}

.columns-4 {
  margin-top: 0%;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.homegrid-3 {
  overflow: hidden;
  width: 40vw;
  max-width: none;
  border-radius: 4px;
}

.homegrid-4 {
  overflow: hidden;
  max-width: 40vw;
  border-radius: 4px;
}

.homegrid-5 {
  overflow: hidden;
  max-width: 40vw;
  border-radius: 4px;
}

.homegridtext-3 {
  overflow: hidden;
  max-width: 40vw;
  margin-top: 7px;
}

.paragraph-5 {
  margin-bottom: 25px;
  font-family: 'Eina 01', sans-serif;
  font-size: 16px;
}

.subtitle-3 {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  font-family: 'Eina 01', sans-serif;
  color: #fff;
  font-size: 12px;
}

.homegridtitle-2 {
  color: #f36f24;
  font-size: 21px;
  line-height: 30px;
}

.homegridtitle-2.goog {
  color: #fff;
}

.homegridtitle-2.snap {
  color: #fff;
}

.homegridtitle-2.datu {
  color: #fff;
}

.homegridtitle-2.df {
  color: #fff;
  font-size: 21px;
  line-height: 30px;
}

.homegridtitle-2.illustration {
  color: #7678f5;
}

.homegrid-6 {
  overflow: hidden;
  max-width: 40vw;
  border-radius: 4px;
}

.homegrid-7 {
  overflow: hidden;
  max-width: 40vw;
  border-radius: 4px;
}

.homegrid-8 {
  overflow: hidden;
  max-width: 40vw;
  border-radius: 4px;
}

.homegrid-9 {
  overflow: hidden;
  max-width: 40vw;
  border-radius: 4px;
}

.newabout {
  width: 40vw;
  margin-top: -0.5vh;
  line-height: 26px;
}

.newfootalhome {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 9.5%;
  margin-top: 15.5vh;
  margin-bottom: 0px;
  margin-left: 6vw;
  font-size: 12px;
  text-align: left;
}

.homegridtext2 {
  margin-top: 2vh;
}

.projhead {
  margin-top: 5vh;
  margin-right: 5vw;
  margin-bottom: 0px;
  padding-right: 0vw;
  padding-left: 0vw;
  color: #c4c4c4;
}

.projtit {
  margin-bottom: 0px;
  font-size: 1.9em;
  line-height: 1.7em;
  font-weight: 600;
}

.projsubh {
  margin-bottom: 5vh;
}

.paragraph-6 {
  margin-bottom: 0px;
  color: #c4c4c4;
  font-size: 1.7em;
  line-height: 50px;
}

.projbod {
  margin-top: 0vh;
  margin-right: 5vw;
  margin-bottom: 0px;
  padding-right: 0vw;
  padding-left: 0vw;
}

.newfootalwork {
  position: static;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 9.5%;
  margin: 9.5vh 200px 7vh;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #fff;
  font-size: 12px;
  text-align: left;
}

@media (max-width: 991px) {
  .desc {
    line-height: 21px;
  }
  .heading {
    line-height: 54px;
  }
  .cactus {
    margin-top: 6px;
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
  }
  .grid-3a {
    margin-top: 0px;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 171px;
    grid-template-areas: ".";
    -ms-grid-rows: minmax(auto, 0.25fr) minmax(auto, 0.75fr) minmax(auto, 0.25fr);
    grid-template-rows: minmax(auto, 0.25fr) minmax(auto, 0.75fr) minmax(auto, 0.25fr);
  }
  .moreabout {
    margin-right: 100px;
    margin-left: 100px;
  }
  .moreaboutlinks {
    margin-right: 100px;
    margin-left: 100px;
  }
  .columns {
    margin-right: 100px;
    margin-left: 100px;
  }
  .paragraph-3 {
    margin-right: 100px;
    margin-left: 100px;
  }
  .writeuphead {
    margin-right: 100px;
    margin-left: 100px;
  }
  .text-block-3 {
    color: #fff;
  }
  .writeuptitle {
    margin-right: 100px;
    margin-left: 100px;
  }
  .div-block {
    background-image: none;
  }
  .casestudypix {
    display: inline-block;
    margin-right: 200px;
    margin-bottom: 20px;
    margin-left: 200px;
  }
  .casestudypix.small {
    margin-right: 200px;
    margin-left: 200px;
  }
  .casestudypix.medium {
    margin-right: 200px;
    margin-left: 200px;
  }
  .image-12 {
    max-width: 100%;
  }
  .div-block-2 {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    height: 60px;
    max-width: 100%;
    min-width: 100%;
    background-color: #121212;
  }
  .hidden {
    margin-right: 100px;
    margin-left: 100px;
  }
  .hiddentitle {
    margin-right: 100px;
    margin-left: 100px;
  }
  .p3cap {
    margin-right: 100px;
    margin-left: 100px;
  }
  .gallery {
    margin-right: 100px;
    margin-left: 100px;
  }
  .galleryafter {
    margin-right: 100px;
    margin-left: 100px;
  }
  .galcon {
    margin-right: 100px;
    margin-left: 100px;
  }
  .gallerylast {
    margin-right: 100px;
    margin-left: 100px;
  }
  .moreabout-copy {
    margin-right: 100px;
    margin-left: 100px;
  }
  .columns-7 {
    margin-right: 100px;
    margin-left: 100px;
  }
  .div-block-2-copy {
    position: fixed;
    height: 60px;
    max-width: 100%;
    min-width: 100%;
    background-color: transparent;
  }
  .firstrow {
    margin-bottom: 15px;
  }
  .columns-75 {
    margin-top: 0px;
    margin-right: 100px;
    margin-left: 100px;
  }
  .right {
    padding-bottom: 10vh;
  }
  .intro {
    width: 18vw;
    margin-top: -0.5vh;
  }
  .newfootal {
    position: static;
    margin-top: 3vh;
    margin-left: 0vw;
  }
  .paragraph-4 {
    width: 40vw;
    max-width: none;
  }
  .columns-3 {
    margin-right: 100px;
    margin-left: 100px;
  }
  .columns-4 {
    margin-right: 100px;
    margin-left: 100px;
  }
  .homegrid-3 {
    width: 55vw;
    max-width: none;
  }
  .newabout {
    position: static;
    width: 40vw;
    line-height: 26px;
  }
  .newfootalhome {
    position: absolute;
    margin-top: 3vh;
    margin-left: 5vw;
  }
  .homegridtext2 {
    margin-top: 2vh;
  }
  .newfootalwork {
    position: static;
    margin-top: 15vh;
    margin-right: 100px;
    margin-left: 100px;
  }
}

@media (max-width: 767px) {
  .desc {
    width: 100%;
    line-height: 21px;
  }
  .heading {
    font-size: 49px;
    line-height: 67px;
  }
  .cactus {
    margin-top: 19px;
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    font-size: 43px;
  }
  .grid-3a {
    margin-top: 0px;
    margin-right: 40px;
    margin-left: 40px;
    grid-column-gap: 11px;
    grid-template-areas: ".";
    -ms-grid-columns: 7.5vw 11px 2fr;
    grid-template-columns: 7.5vw 2fr;
    -ms-grid-rows: minmax(auto, 0.25fr) minmax(auto, 0.5fr) minmax(auto, 0.75fr);
    grid-template-rows: minmax(auto, 0.25fr) minmax(auto, 0.5fr) minmax(auto, 0.75fr);
  }
  .moreabout {
    margin-right: 40px;
    margin-left: 40px;
  }
  .moreaboutlinks {
    margin-right: 40px;
    margin-left: 40px;
  }
  .headerimage {
    margin-top: 60px;
  }
  .image-9 {
    padding-bottom: 30px;
  }
  .columns {
    margin-right: 40px;
    margin-left: 40px;
  }
  .paragraph-3 {
    margin-right: 40px;
    margin-left: 40px;
  }
  .writeuphead {
    margin-right: 40px;
    margin-left: 40px;
  }
  .back {
    left: 4%;
  }
  .text-block-3 {
    color: #fff;
  }
  .writeuptitle {
    margin-right: 40px;
    margin-left: 40px;
  }
  .div-block {
    background-color: #fff;
    background-image: none;
  }
  .casestudypix {
    display: block;
    max-width: 100%;
    margin-right: 100px;
    margin-left: 100px;
  }
  .casestudypix.small {
    margin-right: 170px;
    margin-left: 170px;
  }
  .casestudypix.medium {
    margin-right: 100px;
    margin-left: 100px;
  }
  .image-12 {
    max-width: 100%;
  }
  .image-14 {
    display: inline-block;
    max-width: 100%;
  }
  .div-block-2 {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 100%;
    height: 60px;
    min-width: auto;
    background-color: #121212;
  }
  .hidden {
    margin-right: 40px;
    margin-left: 40px;
  }
  .hiddentitle {
    margin-right: 40px;
    margin-left: 40px;
  }
  .column-4 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-5 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .p3cap {
    margin-right: 40px;
    margin-left: 40px;
  }
  .gallery {
    margin-right: 40px;
    margin-left: 40px;
  }
  .galleryafter {
    margin: 0px 40px 20px;
  }
  .galcon {
    margin-right: 50px;
    margin-left: 50px;
  }
  .gallerylast {
    margin: 0px 40px 20px;
  }
  .moreabout-copy {
    margin-right: 40px;
    margin-left: 40px;
  }
  .columns-7 {
    overflow: visible;
    margin-right: 40px;
    margin-left: 40px;
  }
  .div-block-2-copy {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 100%;
    height: 60px;
    min-width: auto;
    background-color: #181818;
  }
  .columns-75 {
    overflow: visible;
    margin-right: 40px;
    margin-left: 40px;
  }
  .right {
    padding-bottom: 9vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .intro {
    width: 30vw;
    margin-top: -1vh;
    font-size: 14px;
  }
  .newfootal {
    margin-top: 6vh;
    margin-left: 0vw;
  }
  .paragraph-4 {
    width: auto;
    max-width: none;
    font-size: 15px;
  }
  .column-6 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .columns-3 {
    margin-right: 40px;
    margin-left: 40px;
  }
  .homegridtext-2 {
    width: 50vw;
    max-width: none;
  }
  .columns-4 {
    margin-right: 40px;
    margin-left: 40px;
  }
  .homegrid-3 {
    width: 60vw;
    max-width: none;
  }
  .newabout {
    margin-top: -1vh;
    line-height: 26px;
  }
  .newfootalhome {
    margin-top: 6vh;
    margin-left: 6vw;
  }
  .homegridtext2 {
    width: 50vw;
    margin-top: 2vh;
  }
  .newfootalwork {
    margin-top: 15vh;
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media (max-width: 479px) {
  .body {
    overflow: visible;
  }
  .desc {
    width: auto;
    font-size: 13px;
    line-height: 21px;
  }
  .subtitle {
    font-size: 11px;
  }
  .heading {
    font-size: 22px;
    line-height: 39px;
  }
  .image-9 {
    width: 40vw;
    max-width: 100%;
    margin-bottom: 5vh;
  }
  .linskksksk {
    margin-left: 120px;
  }
  .linskksksk._2 {
    margin-left: 60px;
  }
  .linskksksk.activee {
    font-size: 10px;
  }
  .holds-links {
    font-size: 13px;
  }
  .holds-links.active.w--current {
    font-size: 13px;
  }
  .cactus {
    margin-top: 0px;
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    font-size: 28px;
  }
  .about {
    font-size: 13px;
  }
  .grid-3a {
    margin-top: 0px;
    margin-right: 33px;
    margin-left: 33px;
    padding-top: 191px;
    grid-column-gap: 15px;
    grid-row-gap: 11px;
    grid-template-areas: ".";
    -ms-grid-columns: 12.5vw 15px 2fr;
    grid-template-columns: 12.5vw 2fr;
    -ms-grid-rows: minmax(auto, 0.25fr) 11px minmax(auto, 0.25fr) 11px minmax(auto, 0.25fr);
    grid-template-rows: minmax(auto, 0.25fr) minmax(auto, 0.25fr) minmax(auto, 0.25fr);
  }
  .moreabout {
    margin-right: 30px;
    margin-left: 30px;
  }
  .moreaboutlinks {
    margin-right: 30px;
    margin-left: 30px;
  }
  .headerimage {
    margin-top: 60px;
  }
  /* .paragraph {
    font-size: 14px;
  } */
  .homegridtitle {
    font-size: 15px;
    line-height: 20px;
  }
  .homegridtitle.acai {
    font-size: 15px;
  }
  .columns {
    margin-right: 33px;
    margin-left: 33px;
  }
  .paragraph-3 {
    margin-right: 30px;
    margin-left: 30px;
  }
  .writeuphead {
    margin-right: 30px;
    margin-left: 30px;
  }
  .back {
    left: 6%;
    top: -3%;
  }
  .writeuptitle {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 35px;
    line-height: 40px;
  }
  .div-block {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #fff), to(hsla(0, 0%, 100%, 0)));
    background-image: linear-gradient(180deg, #fff 100%, hsla(0, 0%, 100%, 0));
  }
  .casestudypix {
    margin-right: 30px;
    margin-left: 30px;
  }
  .casestudypix.small {
    margin-right: 60px;
    margin-left: 60px;
  }
  .casestudypix.medium {
    margin-right: 30px;
    margin-left: 30px;
  }
  .image-12 {
    max-width: 100%;
  }
  .div-block-2 {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    height: 60px;
    min-width: 100%;
    background-color: #121212;
  }
  .hidden {
    margin-right: 30px;
    margin-left: 30px;
  }
  .hiddentitle {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 35px;
    line-height: 40px;
  }
  .p3cap {
    margin-right: 30px;
    margin-left: 30px;
  }
  .galleryafter {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .gallerylast {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .body-copy {
    overflow: hidden;
  }
  .moreabout-copy {
    margin-right: 30px;
    margin-left: 30px;
  }
  .columns-7 {
    margin-right: 30px;
    margin-left: 30px;
  }
  .div-block-2-copy {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    height: 60px;
    min-width: 100%;
    background-color: #181818;
  }
  .columns-75 {
    margin-right: 30px;
    margin-left: 30px;
  }
  .title {
    top: 5%;
    font-size: 15px;
  }
  .leftbar {
    width: 25%;
  }
  .allleftnav {
    bottom: 5%;
    margin-top: 0px;
  }
  .right {
    display: block;
    overflow: auto;
    width: 75%;
    margin-bottom: 0vh;
    padding-top: 5vh;
    padding-bottom: 4vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .intro {
    top: 5.5%;
    width: 42vw;
    margin-top: -1vh;
    margin-bottom: 0px;
    font-size: 13px;
  }
  .newfoot {
    font-size: 11px;
  }
  .newfootal {
    margin-top: 5vh;
    margin-right: 0vw;
    margin-left: 0vw;
    font-size: 11px;
  }
  .paragraph-4 {
    width: 57vw;
    max-width: none;
    font-size: 11px;
    line-height: 15px;
  }
  .column-6 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .columns-3 {
    margin-right: 33px;
    margin-left: 33px;
  }
  .subtitle-2 {
    font-size: 10px;
  }
  .homegridtext-2 {
    width: 60vw;
    max-width: none;
    margin-top: 2vh;
  }
  .link-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    width: 57vw;
    padding-left: 0px;
    float: none;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .columns-4 {
    margin-right: 33px;
    margin-left: 33px;
  }
  .homegrid-3 {
    width: 57vw;
    max-width: none;
  }
  .paragraph-5 {
    font-size: 14px;
  }
  .subtitle-3 {
    font-size: 11px;
  }
  .newabout {
    width: 56vw;
    margin-top: 0vh;
    font-size: 13px;
    line-height: 26px;
  }
  .newfootalhome {
    bottom: 7%;
    overflow: auto;
    margin-top: 5vh;
    margin-right: 7vw;
    margin-left: 6vw;
    font-size: 11px;
  }
  .homegridtext2 {
    margin-top: 2vh;
  }
  .newfootalwork {
    bottom: 7%;
    overflow: auto;
    margin-top: 15vh;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 11px;
  }
}

#w-node-4dd13f02c592-597756c6 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-84a2d29e0e9f-597756c6 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-84a2d29e0e9f-597756c6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-7b74f11cf3cf-597756c6 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-ee939eee215d-597756c6 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-9bde8af865d3-597756c6 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-9bde8af865d3-597756c6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-9bde8af865d3-597756c6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-b0f56acb0dc4-597756c6 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

@media screen and (max-width: 767px) {
  #w-node-b0f56acb0dc4-597756c6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 479px) {
  #w-node-b0f56acb0dc4-597756c6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-10d6bd923068-597756c6 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

@media screen and (max-width: 991px) {
  #w-node-10d6bd923068-597756c6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

@media screen and (max-width: 767px) {
  #w-node-10d6bd923068-597756c6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-10d6bd923068-597756c6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

@font-face {
  font-family: 'Eina 01';
  src: url('../fonts/Eina-01-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Eina 01';
  src: url('../fonts/Eina-01-Bold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
