/* find mehover effect */
.findmelink {
  color: #3a3d7c;
  text-decoration: underline;
}

p .findmelink{
  /* box-shadow: inset 0 -2px 0 0 lightgrey; */
  /* display: inline-block; */
  transition: all .2s ease-in-out;
  color:#3a3d7c;
  padding-top: 1px;
  padding-bottom:1px;
  box-sizing: border-box;
}

p .findmelink:hover{
 border: none;
 /* opacity: 0.5; */
 color:#fbf5fb;
 box-shadow: inset 0 -25px 0 0 #3a3d7c;
}
/* find mehover end */

/* holy fuckk test?? emoji rain */

#container {
  left: 0px;
  top: -100px;
  height: calc(100vh + 100px);
  overflow: hidden;
  position: relative;
}

#animate{
  margin: 0 auto;
  width: 50%;
  overflow: visible;
  position: relative;
}

#all{
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: fixed;
}

/* emoji rainend */

.blinking-cursor {
  font-family: Raisonne, sans-serif;
  font-weight: 100;
  font-size: .9em;
  color: #3a3d7c;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #3a3d7c;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #3a3d7c;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #3a3d7c;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #3a3d7c;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #3a3d7c;
  }
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  max-height: 80vh;
  background-color: #fbf5fb;
}

.myname {
  position: relative;
  display: block;
  float: left;
  font-family: Raisonne, sans-serif;
  color: #3a3d7c;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
}

.nav {
  margin-left: 4vw;
  padding-left: 0vw;
  float: none;
  font-family: Raisonne, sans-serif;
  color: #fff;
  font-size: 1.3em;
  line-height: 0em;
  text-align: right;
  text-decoration: none;
}

.navs {
  position: absolute;
  left: auto;
  top: 7vh;
  bottom: auto;
  display: inline;
  width: 86%;
  float: right;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-family: Raisonne, sans-serif;
}

.paragraph {
  font-family: Raisonne, sans-serif;
  color: #fff;
  font-size: 2em;
  line-height: 20px;
}

.social {
  position: absolute;
  left: 7vw;
  top: auto;
  right: 7vw;
  bottom: 7vh;
  margin-bottom: 0px;
  float: none;
  clear: none;
  font-family: Raisonne, sans-serif;
  color: #fff;
  font-size: 1.3em;
}

.mydesc {
  position: static;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: block;
  width: 50vw;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Apercu, sans-serif;
  color: #3a3d7c;
  font-size: 2.2em;
  line-height: 1.5em;
}

.mydescbox {
  position: fixed;
  left: 7vw;
  top: 15vh;
  right: auto;
  bottom: 15vh;
  display: -ms-grid;
  display: grid;
  width: 86vw;
  padding-right: 0vw;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.myworkbox {
  position: fixed;
  left: 7vw;
  top: 15vh;
  right: auto;
  bottom: 15vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 86vw;
  padding-right: 0vw;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.mydescription {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.masterdiv {
  margin-right: 7vw;
  margin-left: 7vw;
}

.rightnavdiv {
  float: right;
}

.workgrid {
  position: static;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 3vw;
  grid-row-gap: 7vh;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 26vh 26vh;
  grid-template-rows: 26vh 26vh;
}

.workdiv {
  position: relative;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16vh;
  margin-bottom: 9vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.aboutme {
  position: static;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 86vw;
  margin-top: 19vh;
  margin-bottom: 4vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Apercu, sans-serif;
  color: #3a3d7c;
  font-size: 2em;
  line-height: 1.1em;
}

.socialstatic {
  position: static;
  left: 7vw;
  top: auto;
  right: 7vw;
  bottom: 7vh;
  margin-bottom: 7vh;
  float: none;
  clear: none;
  font-family: Raisonne, sans-serif;
  color: #3a3d7c;
  font-size: 0.9em;
}

.picdiv {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 86vw;
  margin-top: 14vh;
  margin-bottom: 10vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 16px;
  -ms-grid-columns: 27.33vw 27.33vw 27.33vw;
  grid-template-columns: 27.33vw 27.33vw 27.33vw;
  -ms-grid-rows: 32vh 32vh 9vh 53vh auto;
  grid-template-rows: 32vh 32vh 9vh 53vh auto;
}

.aboutme2 {
  position: static;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 86vw;
  margin-top: 0vh;
  margin-bottom: 15vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Apercu, sans-serif;
  color: #3a3d7c;
  font-size: 1.5em;
  line-height: 1.1em;
}

.dcogrid {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 86vw;
  margin-top: 19vh;
  margin-bottom: 10vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 47vh auto auto auto 50vh auto 44vh 44vh auto 44vh 44vh auto;
  grid-template-rows: 47vh auto auto auto 50vh auto 44vh 44vh auto 44vh 44vh auto;
}

.writeuph1 {
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: Raisonne, sans-serif;
  color: #fff;
  font-size: 2.8em;
  line-height: 1em;
}

.image {
  -o-object-fit: fill;
  object-fit: fill;
}

.image-2 {
  -o-object-fit: cover;
  object-fit: cover;
}

.headerimg {
  -o-object-fit: cover;
  object-fit: cover;
}

.writeuph2 {
  margin-top: 5vh;
  margin-bottom: 0px;
  font-family: Apercu, sans-serif;
  color: #3a3d7c;
  font-size: 2.7em;
  line-height: 1em;
}

.writeuph3 {
  margin-right: 4vw;
  margin-bottom: 4vh;
  font-family: Apercu, sans-serif;
  color: #3a3d7c;
  font-size: 1em;
  font-weight: 300;
}

.image-4 {
  margin-top: 14px;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-5 {
  margin-top: 14px;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-6 {
  -o-object-fit: cover;
  object-fit: cover;
}

.writeuph4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Apercu, sans-serif;
  color: #3a3d7c;
  font-size: 0.9em;
  line-height: 13px;
  font-weight: 400;
}

.bodylink {
  background-color: transparent;
  color: #1a237e;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.bodylink:hover {
  color: #1a237e;
  font-style: italic;
  font-weight: 400;
  text-decoration: none;
}

.image-7 {
  -o-object-fit: cover;
  object-fit: cover;
}

.writeupendcol {
  font-family: Apercu, sans-serif;
  color: #3a3d7c;
  font-size: 1em;
  font-weight: 300;
}

.image-8 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-9 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-10 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-11 {
  -o-object-fit: cover;
  object-fit: cover;
}

.snowgrid {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 86vw;
  margin-top: 19vh;
  margin-bottom: 10vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 47vh auto auto auto 30vh 40vh;
  grid-template-rows: 47vh auto auto auto 30vh 40vh;
}

.writeuph3b {
  margin-right: 4vw;
  margin-bottom: 4vh;
  font-family: Apercu, sans-serif;
  color: #3a3d7c;
  font-size: 1em;
  font-weight: 300;
}

.image-12 {
  -o-object-fit: cover;
  object-fit: cover;
}

.acaigrid {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 86vw;
  margin-top: 19vh;
  margin-bottom: 4vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 47vh auto auto auto 30vh 40vh;
  grid-template-rows: 47vh auto auto auto 30vh 40vh;
}

.image-13 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-14 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-15 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-16 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-17 {
  -o-object-fit: cover;
  object-fit: cover;
}

.workimg {
  height: 26vh;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-19 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-20 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-21 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-22 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-23 {
  -o-object-fit: cover;
  object-fit: cover;
}

.homelink {
  color: #3a3d7c;
  text-decoration: underline;
}

.grid {
  position: absolute;
  margin-top: 14vh;
  margin-bottom: 14vh;
  grid-auto-columns: 2vw;
  grid-column-gap: 2vw;
  -ms-grid-columns: 50vw 34vw;
  grid-template-columns: 50vw 34vw;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.dco {
  max-width: 34vw;
  opacity: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-24 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  max-width: 47%;
  opacity: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-25 {
  -o-object-fit: cover;
  object-fit: cover;
}

.seconddesc {
  position: static;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: block;
  width: 34vw;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Apercu, sans-serif;
  color: #3a3d7c;
  font-size: 1em;
  line-height: 1.5em;
}

.miniheader {
  font-size: 0.7em;
  line-height: 1em;
  font-weight: 400;
}

.question {
  position: fixed;
  left: auto;
  top: auto;
  right: 7vw;
  bottom: 7vh;
  display: block;
  width: 2vw;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Apercu, sans-serif;
  color: transparent;
  font-size: 2.2em;
  line-height: 0.8em;
  text-align: right;
}

.illust {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-26 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-27 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-28 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-29 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-30 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-31 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-32 {
  -o-object-fit: cover;
  object-fit: cover;
}

.homelinkwip {
  color: #3a3d7c;
  text-decoration: none;
}

.abtpicdiv {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 86vw;
  margin-top: 0vh;
  margin-bottom: 3vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 16px;
  -ms-grid-columns: 42vw 42vw;
  grid-template-columns: 42vw 42vw;
  -ms-grid-rows: 45vh;
  grid-template-rows: 45vh;
}

.image-33 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-34 {
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .navs {
    position: absolute;
  }
  .social {
    position: absolute;
    margin-bottom: 0vh;
    float: none;
  }
  .mydescbox {
    width: 86vw;
  }
  .myworkbox {
    width: 86vw;
  }
  .workgrid {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 37px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 27vh 27vh;
    grid-template-rows: 27vh 27vh;
  }
  .workdiv {
    margin-top: 15vh;
  }
  .aboutme {
    position: static;
    margin-top: 18vh;
    font-size: 2em;
  }
  .socialstatic {
    position: static;
    margin-bottom: 7vh;
    float: none;
  }
  .aboutme2 {
    position: static;
    margin-top: 0vh;
    font-size: 1.5em;
  }
  .dcogrid {
    -ms-grid-rows: 33vh auto auto auto 40vh auto 32vh 32vh auto 32vh 32vh auto;
    grid-template-rows: 33vh auto auto auto 40vh auto 32vh 32vh auto 32vh 32vh auto;
  }
  .writeuph1 {
    margin-top: 15px;
  }
  .writeuph2 {
    margin-top: 4vh;
  }
  .writeuph4 {
    margin-top: 0px;
  }
  .writeupendcol {
    margin-top: 10px;
  }
  .snowgrid {
    -ms-grid-rows: 33vh auto auto auto 30vh 40vh;
    grid-template-rows: 33vh auto auto auto 30vh 40vh;
  }
  .acaigrid {
    -ms-grid-rows: 33vh auto auto auto 30vh 40vh;
    grid-template-rows: 33vh auto auto auto 30vh 40vh;
  }
  .workimg {
    overflow: visible;
    height: 27vh;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .abtpicdiv {
    -ms-grid-rows: 33vh;
    grid-template-rows: 33vh;
  }
  .image-33 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .image-34 {
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) {
  .myname {
    font-size: 1em;
  }
  .nav {
    font-size: 1.3em;
  }
  .nav.w--current {
    font-size: 1.3em;
  }
  .navs {
    position: absolute;
  }
  .social {
    position: absolute;
    left: 7vw;
    float: none;
    font-size: 1.3em;
  }
  .mydesc {
    left: auto;
    width: 85vw;
    margin-left: 0vw;
    font-size: 1.5em;
  }
  .mydescbox {
    width: 86vw;
    padding-right: 9vw;
  }
  .myworkbox {
    width: 86vw;
    padding-right: 0vw;
  }
  .workgrid {
    grid-column-gap: 34px;
    grid-row-gap: 24px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .workdiv {
    position: relative;
    margin-right: 0vw;
    margin-left: 0vw;
  }
  .socialstatic {
    position: static;
    left: 7vw;
    float: none;
    font-size: 1em;
  }
  .picdiv {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .aboutme2 {
    margin-bottom: 12vh;
    font-size: 1.3em;
  }
  .dcogrid {
    -ms-grid-rows: 20vh auto auto auto 30vh auto;
    grid-template-rows: 20vh auto auto auto 30vh auto;
  }
  .writeuph1 {
    font-size: 2.6em;
  }
  .writeuph2 {
    font-size: 1.7em;
  }
  .writeuph3 {
    margin-right: 2vw;
    margin-bottom: 3vh;
    font-size: 0.8em;
  }
  .writeupendcol {
    margin-top: 5px;
    font-size: 0.8em;
  }
  .snowgrid {
    -ms-grid-rows: 20vh auto auto auto 25vh 30vh;
    grid-template-rows: 20vh auto auto auto 25vh 30vh;
  }
  .writeuph3b {
    margin-right: 2vw;
    margin-bottom: 3vh;
    font-size: 0.9em;
  }
  .acaigrid {
    -ms-grid-rows: 20vh auto auto auto 25vh 30vh;
    grid-template-rows: 20vh auto auto auto 25vh 30vh;
  }
  .grid {
    -ms-grid-columns: 85vw;
    grid-template-columns: 85vw;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .homeimg {
    opacity: 0;
  }
  .seconddesc {
    left: auto;
    width: 85vw;
    margin-left: 0vw;
    font-size: 1em;
  }
  .question {
    left: auto;
    width: 86vw;
    margin-left: 0vw;
    font-size: 1.5em;
  }
  .abtpicdiv {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 479px) {
  .myname {
    font-size: 1em;
  }
  .nav {
    font-size: 1.3em;
  }
  .social {
    position: absolute;
    font-size: 1.3em;
  }
  .mydesc {
    left: auto;
    width: 85vw;
    margin-left: 0vw;
    font-size: 1.4em;
  }
  .mydescbox {
    padding-right: 0vw;
  }
  .myworkbox {
    padding-right: 0vw;
  }
  .workgrid {
    display: -ms-grid;
    display: grid;
    align-self: flex-start;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .aboutme {
    position: static;
    margin-top: 16vh;
    margin-bottom: 3vh;
    font-size: 1.7em;
  }
  .socialstatic {
    position: static;
    font-size: 1em;
  }
  .picdiv {
    margin-bottom: 3vh;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .aboutme2 {
    position: static;
    margin-bottom: 7vh;
    font-size: 1.1em;
  }
  .dcogrid {
    margin-top: 15vh;
    margin-bottom: 3vh;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 16vh auto auto auto auto 30vh auto 40vh 27vh 27vh auto 27vh 27vh auto;
    grid-template-rows: 16vh auto auto auto auto 30vh auto 40vh 27vh 27vh auto 27vh 27vh auto;
  }
  .writeuph1 {
    font-size: 1.9em;
  }
  .writeuph2 {
    font-size: 1.4em;
  }
  .writeuph3 {
    margin-bottom: 2vh;
    font-size: 0.9em;
    line-height: 20px;
  }
  .image-4 {
    margin-top: 0px;
  }
  .image-5 {
    margin-top: 10px;
  }
  .writeuph4 {
    margin-top: 0px;
    font-size: 0.8em;
    line-height: 13px;
  }
  .writeupendcol {
    margin-top: 5px;
    margin-bottom: 2vh;
    font-size: 0.9em;
  }
  .snowgrid {
    margin-top: 15vh;
    margin-bottom: 3vh;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 16vh auto auto auto auto 35vh 20vh 25vh auto;
    grid-template-rows: 16vh auto auto auto auto 35vh 20vh 25vh auto;
  }
  .writeuph3b {
    margin-bottom: 2vh;
    font-size: 0.9em;
  }
  .acaigrid {
    margin-top: 15vh;
    margin-bottom: 3vh;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 16vh auto auto auto auto 35vh 20vh 25vh auto;
    grid-template-rows: 16vh auto auto auto auto 35vh 20vh 25vh auto;
  }
  .seconddesc {
    left: auto;
    width: 85vw;
    margin-left: 0vw;
    font-size: 1em;
  }
  .question {
    left: auto;
    width: 84vw;
    margin-left: 0vw;
    font-size: 1.4em;
  }
  .abtpicdiv {
    margin-bottom: 3vh;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

#w-node-b9a93506776d-4037c66c {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-872fa3147425-4037c66c {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-295557f7dd9f-4037c66c {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-c3e6e6b73a74-4037c66c {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-2337d31fbd2d-4037c66c {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-0d5913ee4e5d-4037c66c {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-da798bc0ac4c-5d07a44e {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-453aa3072603-5d07a44e {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-0ab575f67865-0515c9e1 {
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-4d4a9744abd9-0515c9e1 {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
}

#w-node-4cdf09adeb13-0515c9e1 {
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#w-node-8c33c5d93b55-0515c9e1 {
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
}

#w-node-877a6918a72d-0515c9e1 {
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
}

#w-node-e8ac835da5e9-0515c9e1 {
  -ms-grid-column-span: 3;
  grid-column-end: 7;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-389327e61386-0515c9e1 {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
}

#w-node-aff88374a234-0515c9e1 {
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-8300f9e32df0-0515c9e1 {
  -ms-grid-column-span: 1;
  grid-column-end: 7;
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-481dc0b365d6-0515c9e1 {
  -ms-grid-column-span: 3;
  grid-column-end: 7;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-fa932b111416-0515c9e1 {
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 2;
  grid-row-end: 9;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-2ef43ed389b4-0515c9e1 {
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
}

#w-node-ef5b6f873bf2-0515c9e1 {
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-3a98f48fb0bb-0515c9e1 {
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 12;
  -ms-grid-row: 11;
  grid-row-start: 11;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-86f1ea522135-0515c9e1 {
  -ms-grid-row: 12;
  grid-row-start: 12;
  -ms-grid-row-span: 1;
  grid-row-end: 13;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
}

#w-node-430273df0815-143bf5ae {
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-4d4a9744abd9-143bf5ae {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
}

#w-node-4cdf09adeb13-143bf5ae {
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#w-node-8c33c5d93b55-143bf5ae {
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
}

#w-node-389327e61386-143bf5ae {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
}

#w-node-8300f9e32df0-143bf5ae {
  -ms-grid-column-span: 1;
  grid-column-end: 7;
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-dc40bf9e74b7-94897f03 {
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-4d4a9744abd9-94897f03 {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
}

#w-node-4cdf09adeb13-94897f03 {
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#w-node-8c33c5d93b55-94897f03 {
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
}

#w-node-389327e61386-94897f03 {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
}

#w-node-8300f9e32df0-94897f03 {
  -ms-grid-column-span: 1;
  grid-column-end: 7;
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-877a6918a72d-94897f03 {
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
}

#w-node-3e6b9737fb02-94897f03 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 7;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-fe9ce8f2b786-94897f03 {
  -ms-grid-column-span: 4;
  grid-column-end: 7;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-fd70212f6570-94897f03 {
  -ms-grid-column-span: 4;
  grid-column-end: 7;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-caf66edfe01c-129ea1f0 {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-de6023ecb455-76556988 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-f16f77d6be35-76556988 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-4fcf89fcfe9d-76556988 {
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-60fce8e71d69-76556988 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-b746db6260a2-76556988 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-12a5432d77ef-76556988 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-34551462df78-76556988 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 5;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-b7e36088cf07-76556988 {
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-b9a93506776d-4037c66c {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
  #w-node-da798bc0ac4c-5d07a44e {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
  #w-node-453aa3072603-5d07a44e {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
  #w-node-877a6918a72d-0515c9e1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 6;
    grid-column-end: 7;
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-row-span: 1;
    grid-row-end: 7;
  }
  #w-node-2ef43ed389b4-0515c9e1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 6;
    grid-column-end: 7;
    -ms-grid-row: 9;
    grid-row-start: 9;
    -ms-grid-row-span: 1;
    grid-row-end: 10;
  }
  #w-node-86f1ea522135-0515c9e1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 6;
    grid-column-end: 7;
    -ms-grid-row: 12;
    grid-row-start: 12;
    -ms-grid-row-span: 1;
    grid-row-end: 13;
  }
  #w-node-877a6918a72d-94897f03 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 6;
    grid-column-end: 7;
    -ms-grid-row: 7;
    grid-row-start: 7;
    -ms-grid-row-span: 1;
    grid-row-end: 8;
  }
}

@media screen and (max-width: 767px) {
  #w-node-295557f7dd9f-4037c66c {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
  #w-node-c3e6e6b73a74-4037c66c {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
  #w-node-2337d31fbd2d-4037c66c {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-row: 3;
    grid-row-start: 3;
  }
  #w-node-0d5913ee4e5d-4037c66c {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-row: 3;
    grid-row-start: 3;
  }
  #w-node-389327e61386-0515c9e1 {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 6;
    grid-column-end: 7;
  }
  #w-node-389327e61386-143bf5ae {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 6;
    grid-column-end: 7;
  }
  #w-node-389327e61386-94897f03 {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 6;
    grid-column-end: 7;
  }
  #w-node-877a6918a72d-94897f03 {
    -ms-grid-row: 7;
    grid-row-start: 7;
    -ms-grid-row-span: 1;
    grid-row-end: 8;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 6;
    grid-column-end: 7;
  }
  #w-node-c1bc4ff4e4ca-129ea1f0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-caf66edfe01c-129ea1f0 {
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-453aa3072603-5d07a44e {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-0ab575f67865-0515c9e1 {
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
  #w-node-4d4a9744abd9-0515c9e1 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
  }
  #w-node-4cdf09adeb13-0515c9e1 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
  }
  #w-node-8c33c5d93b55-0515c9e1 {
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
  }
  #w-node-877a6918a72d-0515c9e1 {
    -ms-grid-row: 7;
    grid-row-start: 7;
    -ms-grid-row-span: 1;
    grid-row-end: 8;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
  }
  #w-node-e8ac835da5e9-0515c9e1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 9;
    grid-row-start: 9;
    -ms-grid-row-span: 1;
    grid-row-end: 10;
  }
  #w-node-389327e61386-0515c9e1 {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
  }
  #w-node-aff88374a234-0515c9e1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-row-span: 1;
    grid-row-end: 7;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
  #w-node-8300f9e32df0-0515c9e1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
  #w-node-481dc0b365d6-0515c9e1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 10;
    grid-row-start: 10;
    -ms-grid-row-span: 1;
    grid-row-end: 11;
  }
  #w-node-fa932b111416-0515c9e1 {
    -ms-grid-row: 8;
    grid-row-start: 8;
    -ms-grid-row-span: 1;
    grid-row-end: 9;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
  #w-node-2ef43ed389b4-0515c9e1 {
    -ms-grid-row: 11;
    grid-row-start: 11;
    -ms-grid-row-span: 1;
    grid-row-end: 12;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
  }
  #w-node-ef5b6f873bf2-0515c9e1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 12;
    grid-row-start: 12;
    -ms-grid-row-span: 1;
    grid-row-end: 13;
  }
  #w-node-3a98f48fb0bb-0515c9e1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 13;
    grid-row-start: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 14;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
  #w-node-86f1ea522135-0515c9e1 {
    -ms-grid-row: 14;
    grid-row-start: 14;
    -ms-grid-row-span: 1;
    grid-row-end: 15;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
  }
  #w-node-430273df0815-143bf5ae {
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
  #w-node-4d4a9744abd9-143bf5ae {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
  }
  #w-node-4cdf09adeb13-143bf5ae {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
  }
  #w-node-8c33c5d93b55-143bf5ae {
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
  }
  #w-node-389327e61386-143bf5ae {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
  }
  #w-node-8300f9e32df0-143bf5ae {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
  #w-node-dc40bf9e74b7-94897f03 {
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
  #w-node-4d4a9744abd9-94897f03 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
  }
  #w-node-4cdf09adeb13-94897f03 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
  }
  #w-node-8c33c5d93b55-94897f03 {
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
  }
  #w-node-389327e61386-94897f03 {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
  }
  #w-node-8300f9e32df0-94897f03 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
  #w-node-877a6918a72d-94897f03 {
    -ms-grid-row: 9;
    grid-row-start: 9;
    -ms-grid-row-span: 1;
    grid-row-end: 10;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
  }
  #w-node-3e6b9737fb02-94897f03 {
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 7;
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
  #w-node-fe9ce8f2b786-94897f03 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 7;
    grid-row-start: 7;
    -ms-grid-row-span: 1;
    grid-row-end: 8;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
  #w-node-fd70212f6570-94897f03 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 8;
    grid-row-start: 8;
    -ms-grid-row-span: 1;
    grid-row-end: 9;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
}

@font-face {
  font-family: 'Raisonne';
  src: url('../fonts/Raisonne.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
