// Breakpoints
$xs: 360px;
$s: 420px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;

// Layout
$more-content-width: 450px;
$more-content-width-sm: 100%;

// Colors
$default-text-color: #000;
$subheader-text-color: #363e68;
