// Breakpoints
$xs: 360px;
$s: 420px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;

// Layout
$content-width: 980px;
$content-width-sm: 450px;

// Colors
$default-text-color: #000;
$subheader-text-color: #363e68;
$citation-color: #ff00ff;

// Spacing
$padding: 35px;
$padding-sm: 24px;
$padding-xs: 12px;
