@import './reset.scss';
@import './typography.scss';
@import './constants.scss';

@keyframes horizontalBob {
  0%,
  100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-4px);
  }
}

body {
  height: 100%;
  position: relative;
}

.main {
  position: relative;
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  padding: 35px;
  box-sizing: border-box;

  // header
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 18px;

    h1 a {
      text-decoration: none;
      color: $default-text-color;
    }

    nav ul {
      display: flex;
      flex-direction: column;
      gap: 17px;

      li {
        a {
          color: $default-text-color;
          text-decoration: none;
        }

        &.selected::after {
          content: '←';
          position: absolute;
          margin-left: 5px;
        }
      }
    }
  }

  // work
  .intro {
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 37%;

    p:nth-child(2) {
      margin-bottom: 25px;
    }
  }

  .portrait-container {
    img {
      width: 146px;
      height: auto;
      pointer-events: none;
    }
  }

  .work-container {
    display: flex;
    flex-direction: column;
    gap: 156px;
    margin-bottom: 165px;

    .project-container {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .project-item {
        display: grid;
        grid-template-columns: 37% 1fr;
        column-gap: 68px;

        .project-item-details {
          display: flex;
          flex-direction: column;
          gap: 21px;

          .project-item-header {
            display: flex;
            justify-content: space-between;
          }

          .project-type {
            color: $subheader-text-color;
            margin-bottom: 6px;

            &::before {
              content: '>';
            }
          }
        }

        .project-item-thumbnail {
          display: flex;
          flex-direction: column;
          gap: 25px;
          border: 1px solid $default-text-color;
          padding: 36px 39px 23px;

          video {
            height: 300px;
          }

          .project-item-thumbnail-details {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 20px;

            h4 {
              margin-bottom: 4px;
            }

            ul {
              position: relative;

              li {
                cursor: pointer;

                &.active::before {
                  content: '→';
                  position: absolute;
                  left: -12px;
                  animation: horizontalBob 1.5s ease-in-out infinite;
                  pointer-events: none;
                }
              }
            }

            aside {
              text-align: right;
            }
          }
        }
      }
    }
  }

  // more
  .more-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    padding-top: 67px;

    .more-item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      text-align: center;
      width: 332px;

      a {
        text-decoration-thickness: 1.5px;
      }
    }
  }

  // footer
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 35px;
    width: 100%;
    box-sizing: border-box;
  }
}

.underline {
  text-decoration: underline;
}

.link {
  color: $default-text-color;
}

.link-group .link {
  display: block;
}
