@import './reset.scss';
@import './typography.scss';
@import './mixins.scss';
@import './constants.scss';

@keyframes horizontalBob {
  0%,
  100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-4px);
  }
}

html,
body {
  cursor:
    url('./../images/mycursor.svg') 10 8,
    auto;
}

body {
  height: 100%;
  position: relative;
}

a {
  cursor:
    url('./../images/hovercursor.svg') 20 6,
    auto;
}

.custom-js-cursor {
  width: 50px;
  height: 50px;
  background-image: url('./../images/mycursor.svg');
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

.main {
  position: relative;
  max-width: $xxl;
  min-height: 100vh;
  margin: auto;
  padding: 35px;
  box-sizing: border-box;

  // header
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 18px;

    h1 a {
      text-decoration: none;
      color: $default-text-color;
    }

    nav ul {
      display: flex;
      flex-direction: column;
      gap: 17px;

      li {
        a {
          color: $default-text-color;
          text-decoration: none;
        }

        &.selected::after {
          content: '←';
          position: absolute;
          margin-left: 5px;
        }
      }
    }
  }

  // work
  .intro {
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 37%;

    @include lg {
      width: 100%;
    }

    p:nth-child(2) {
      margin-bottom: 25px;
    }

    img {
      width: 146px;
      height: auto;
      pointer-events: none;
    }
  }

  .work-container {
    display: flex;
    flex-direction: column;
    gap: 156px;
    margin-bottom: 165px;

    .project-container {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .project-item {
        display: grid;
        grid-template-columns: 37% 1fr;
        gap: 20px 68px;

        @include lg {
          grid-template-columns: 1fr;
        }

        &:nth-child(1) li:nth-child(1),
        &:nth-child(2) li:nth-child(2),
        &:nth-child(2) li:nth-child(3),
        &:nth-child(3) li:nth-child(3),
        aside {
          color: rgba(0, 0, 0, 0.5);
        }

        .project-item-details {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .project-item-header {
            display: flex;
            justify-content: space-between;
          }

          .project-type {
            color: $subheader-text-color;
            margin-bottom: 12px;
          }
        }

        .project-item-thumbnail {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 25px;
          border: 1px solid $default-text-color;
          padding: 36px 40px 23px;
          height: fit-content;

          canvas {
            height: auto !important;
          }

          .project-item-thumbnail-details {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 20px;

            @include xl {
              flex-direction: column;
              align-items: flex-start;
            }

            h4 {
              margin-bottom: 4px;
            }

            ul {
              position: relative;

              li {
                cursor:
                  url('./../images/hovercursor.svg') 20 6,
                  auto;

                &.active::before {
                  content: '→';
                  position: absolute;
                  left: -12px;
                  animation: horizontalBob 1.5s ease-in-out infinite;
                  pointer-events: none;
                }
              }
            }

            aside {
              text-align: right;
            }
          }
        }
      }
    }
  }

  // more
  .more-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    padding-top: 67px;

    .more-item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      text-align: center;
      width: 332px;

      a {
        text-decoration-thickness: 1.5px;
      }
    }
  }

  // footer
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 35px;
    width: 100%;
    box-sizing: border-box;
  }
}

.underline {
  text-decoration: underline;
}

.link {
  color: $default-text-color;
}

.link-group .link {
  display: block;
  width: fit-content;
}
